.container {
    padding: 30px;
}

.product-header {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    font-weight: bolder;
    margin-bottom: 10px;
}

.product-header span {
  display: inline-block;
  text-align: left;
}

.product-header span:nth-child(1) {
  width: 10%!important;
}

.product-header span:nth-child(2) {
  width: 10%!important;
}

.product-header span:nth-child(3) {
  width: 15%!important;
}

.product-header span:nth-child(4) {
  width: 11%!important;
}

.product-header span:nth-child(5) {
  width: 12%!important;
}

.product-header span:nth-child(6) {
  width: 12%!important;
}

.product-header span:nth-child(7) {
  width: 12%!important;
}

.product-header span:nth-child(8) {
  width: 8%!important;
}

.product-header span:nth-child(9) {
  width: 10%!important;
}

.product-item {
    display: flex;
    position: relative;
    align-items: center;
    height: 60px;
    padding: 10px 50px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(54, 54, 54, 0.1);
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: rgba(242, 242, 242, 0.7);
}

.product-item span {
  display: inline-block;
  text-align: left;
  font-weight: 500;
}

.product-item span:nth-child(1) {
  width: 10%!important;
}

.product-item span:nth-child(2) {
  width: 10%!important;
}

.product-item span:nth-child(3) {
  width: 15%!important;
}

.product-item span:nth-child(4) {
  width: 11%!important;
}

.product-item span:nth-child(5) {
  width: 12%!important;
}

.product-item span:nth-child(6) {
  width: 12%!important;
}

.product-item span:nth-child(7) {
  width: 12%!important;
}

.product-item span:nth-child(8) {
  width: 8%!important;
}

.product-item span:nth-child(9) {
  width: 10%!important;
}